.modal-content {
    border-radius: 20px;
  }

#modal-image {
    border-radius: 5%;
    margin: auto;
    display: block;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

#contenedor-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.modal-title {
  text-align: center;
}