<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Historial</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>

<body>
    <header>

        <nav class="navbar navbar-dark bg-secondary">
            <a class="navbar-brand" href="index.html">Full Anime</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
        
                <li class="nav-item active">
                  <a class="nav-link" href="\templates/login.html">Registro</a>
                </li>
        
                <li class="nav-item active">
                  <a class="nav-link" href="\templates/login.html">login</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link"  href="\templates/producto.html">Productos</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link"  href="\templates\historial.html">Historial</a>
                </li>        
              </ul>
            </div>
          </nav>

    </header>

  <section>
      <div class="container-fluid m-auto">
        <div class="container">
          <h2>Resumen de compra</h2>
          <p>Número de productos comprados: <span id="contador-compra"></span></p>
          <p>Total de la compra: <span id="precio-total"></span></p>
          <table class="table">
            <thead>
              <tr>
                <th>Producto</th>
                <th>Precio</th>
              </tr>
            </thead>
            <tbody id="tabla-carrito">
            </tbody>
          </table>
        </div>
      
      </div>


  </section>

  <!--Fin Carrusel-->
  <footer class="footer footer-muted bg-secondary" style="color: white;">
    <div class="container">
      <br>
      <div class="row">
        <div class="col-12 col-md-4 col-lg-2">
          <h4>Contacto</h4>
          <p> Tel&eacute;fonos:223540600
          <p> eMail:tie_an@gmail.com</p>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
          <h4 id="contacto">Donde estamos:</h4>
          <p>Santiago</p>
          <p>Direcci&oacute;n:Padre Alonso de Ovalle 1586- Santiago Centro
          </p>
        </div>
        <div class="col-12 col-md-4 col-lg-6">
          <p>
            Mapa
          </p>
          <a href="https://www.google.com/maps/place/Padre+Alonso+de+Ovalle+1586,+Santiago,+Regi%C3%B3n+Metropolitana/data=!4m2!3m1!1s0x9662c507e2d60bd5:0xdf14d66015f31c05?sa=X&ved=2ahUKEwiv8OqfjYr-AhWBpZUCHfj6CdUQ8gF6BAgIEAI">
            <img src="../imagenes//mapa.png" class="d-block w-50" alt="50" width="50" height="auto" class="img-fluid">
          </a>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>
</body>
<script>
// Obtener el carrito del localStorage
var carrito = JSON.parse(localStorage.getItem('carrito')) || [];
// Inicializar las variables de contador y total de compra
var numProductosComprados = carrito.length;
var totalCompra = 0;
// Actualizar la tabla de productos en el carrito
var html = '';
carrito.forEach((producto) => {
  totalCompra += producto.valor;
  html += '<tr>';
  html += '<td>' + producto.nombre + '</td>';
  html += '<td>' + producto.valor + '</td>';
  html += '</tr>';
});
$('#tabla-carrito').html(html);

// Actualizar el precio total de la compra
$('#precio-total').text(totalCompra);
$('#contador-compra').text(numProductosComprados);
</script>
</html>